doctype
html(lang="en", ng-app="EazyNotes")
    head
        title= title
        //link(rel='stylesheet', href='/styles/reset.css')
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/styles/app.css')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    body
        div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
            div.container
                div.navbar-header
                    div.logo
                div.masthead
                    ul(class='nav nav-pills pull-right', navbuttons)
                        li.active
                            a(href='#') Home
                        li
                            a(href='#') About
                        li
                            a(href='#') Contact
        div.jumbotron
            script(type='text/javascript', src='/js/underscore.js')
            script(type='text/javascript', src='/js/angular.min.js')
            script(type='text/javascript', src='/js/angular-ui-router.js')
            script(type='text/javascript', src='/SPA/spa.js')
            div.indent
                ui-view
            script(type='text/javascript', src='/js/socket.io.js')
            script(type='text/javascript', src='/js/sails.io.js')
            script(type='text/javascript', src='/js/app.js')
            script(type='text/javascript', src='/js/jquery/dist/jquery.min.js')
            script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
            script(type='text/javascript', src='/js/aloha/require.js')
            script(type='text/javascript', src='/js/aloha/vendor/jquery-1.7.2.js')

            //http://aloha-editor.org/guides/plugins.html
            script(type='text/javascript', src='/js/aloha/aloha.js', data-aloha-plugins='common/ui,common/format,common/list,common/link,common/highlighteditables')
            link(rel='stylesheet', href='/styles/aloha/aloha.css')
            script.
                Aloha = window.Aloha || {};
                Aloha.settings = Aloha.settings || {};
                Aloha.settings.jQuery = window.jQuery.noConflict(true);


