<div>
  <h1>My first view</h1>

  <h2>My user collection:</h2>
  <ul>
    <% _.each(users, function (user) { %>
    <li><%= user.first %></li>
    <li><%= user.last %></li>
    <% }) %>
  </ul>
</div>