ul.issues li a {
    margin-right: 8px;
}

ul.issues li {
    list-style: none;
    margin-left: -3em;
}

input[type='text'].search {
    width: 40%;
    margin-bottom: 1em;
}

.indent {
    margin-left: 3em;
}

.navbar-header
{
    margin-left: -6em !important;
}

.jumbotron
{
    margin-top: 3em;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: grey;
}

.logo
{
    background: url('../images/logo.png') no-repeat;
    display: inline-block;
    padding-left: 296px;
    height: 76px;
    line-height: 1.5em;
    /*http://www1.flamingtext.com/net-fu/jobs/182304510.html?use=personal*/
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: grey;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: grey;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: grey;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: grey;
}