extends ../layout
block content
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.js')
    script(type='text/javascript', src='/SPA/spa.js')
    div.indent(ng-app="EazyNotes")
        ui-view