//http://naltatis.github.io/jade-syntax-docs/
extends ../layout
block content
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
        div.container
            div.navbar-header
    div.jumbotron
        div.container
            div.starter-template
                h1= version
            fieldset
                ul
                    for note in notes
                        li= note.fields.summary
